@import "styles.css"

amarillo=rgba(yellow, 0.5)
rojo=rgba(red, 0.5)
verde=rgba(green, 0.5)


.crearTarea
	width 50%
.listas
	margin-top 30px	
	position relative
	width 100%
	.lista
		/*border-radius 20px*/
		display inline-block
		height 80%
		overflow hidden
		width 33%
		&.listaPorHacer
			background-color rojo
		&.listaHaciendo
			background-color amarillo
		&.listaHecho
			background-color verde
		.ulLista
			height 100%
			list-style-type none
			margin 0
			padding 0
			width 100%
			.tarea
				/*border-radius 20px*/
				background-color white
				border 1px solid grey
				height 42px
				padding 10px
				.badge
					float right
