<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TaskAdministrator by s3r47h</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/dot-luv/jquery-ui-1.10.4.custom.min.css">
</head>
<body>
	<div id="agregarTarea" class="crearTarea input-group">
		<input id="inputAgregar" type="text" class="form-control" placeholder="Nueva tarea">
		<span class="input-group-btn">
			<button class="btn btn-default" type='button'>Agregar</button>
		</span>
	</div>
	<div id='listas' class="listas">
		<div class="lista listaPorHacer" id="ListaPorHacer">
			<ul id="ulPorHacer" class='ulLista listasConectadas'>
				
			</ul>
		</div>
		<div class="lista listaHaciendo" id="listaHaciendo">
			<ul id="ulHaciendo" class='ulLista listasConectadas'>
			</ul>
		</div>
		<div class="lista listaHecho" id="listaHecho">
			<ul id="ulHechas" class='ulLista listasConectadas'>
					
			</ul>
		</div>
	</div>

	<script src='js/jquery-2.1.0.min.js'></script>
	<script src='js/underscore-min.js'></script>
	<script src='js/backbone-min.js'></script>
	<script src='js/jquery-ui-1.10.4.custom.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script src='js/app.js'></script>
</body>
</html>


<!-- Comienzo con los templates -->
	<!-- 
	-->
<script id="templateTarea" type="text/template">
	<li id='<%= _id %>' class='tarea'>
		<span class='titulo'>
			<%= titulo %>
			<span class='badge'>
				<%= nivel %>
			</span>
		</span>
	</li>
</script>